@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;1,200&family=Oswald:wght@500&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #578c58 color */

/*!------HEADER------*/
nav {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.posifi {
    position: sticky;
}

.enlacee {
    position: absolute;
    padding: 20px 40px;
}

.logooo {
    height: 60px;
}

nav ul {
    float: right;
    margin: 10px 40px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 18px;
    padding: 3px 13px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

li a:active,
li a:hover {
    background-color: rgba(87, 140, 88, 1);
    transition: 1.5s;
    color: black;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

/*!-------MAIN--------*/
.frasegiga {
    width: 100%;
    height: 170px;
    background: rgb(6, 168, 96);
    background: radial-gradient(circle, rgba(6, 168, 96, 1) 0%, rgba(87, 140, 88, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.frasegiga h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normals;
    font-size: 35px;
}

.hero {
    text-align: center;
    width: 100%;
    height: 65vh;
    background-image: url(../img/pexels-tim-mossholder-974314.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero div h2 {
    color: #393E41;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}

.textfrase {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    margin-bottom: 20px;
}

.modulos h2 {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: white;
    color: #333333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modulos .modulos-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modulos .modulos-contenedor a {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 6px;
    border-radius: 15px 15px;
    margin-top: 5px;
}

.modulos h2 {
    font-family: 'Oswald';
    font-weight: bolder;
    font-size: 35px;
}

.modulos .modulos-contenedor h3 {
    margin-bottom: 10px;
    font-family: 'Oswald';
    font-size: 24px;
}

.modulos-contenedor div img {
    width: 88px;
    height: 80px;
}

.modulos-contenedor .achica img {
    width: 75px;
    height: 80px;
}

.modulos .modulos-contenedor div {
    width: 150px;
    height: 200px;
    text-align: center;
    margin: 15px;
}

.proveedores-grid {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
        "hache hache"
        "imagenes imagenes"
        "parrafo parrafo"
    ;
}

.hache {
    width: 100%;
    height: 100px;
    grid-area: hache;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hache h2 {
    font-family: 'Oswald';
    font-size: 35px;
}

.proveedores-contenedor {
    width: 100%;
    height: 100%;
    grid-area: imagenes;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.imagen2 {
    width: 400px;
    height: 400px;
}

.imaggen2 {
    width: 400px;
    height: 271px;
    margin-bottom: 20px;
}

.fontmass {
    width: 20%;
    width: 300px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Asap';
    font-size: 20px;
    color: #747474;
}

.textprove {
    grid-area: parrafo;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.sima {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.partedeabajo {
    position: fixed;
    bottom: 1.5%;
    right: 1%;
    background-color: #1C2321;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100%;
    color: white;
}

.partedeabajo h6 a {
    color: rgb(26, 212, 35);
    font-size: 10px;
}

.partedeabajo h5 {
    font-size: 12px;
    margin-bottom: 0px;
}

.partedeabajo div {
    margin-top: 30px;
}


/*!-------SERVICIOS-----*/

.heroservicio {
    width: 100%;
    height: 222px;
    background-image: url(../img/head-servicio.jpg);
    background-attachment: local;
}

.heroservicio h3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}


.productos-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 80px 1fr;
    grid-template-areas:
        "topp topp topp"
        "productos productos productos"
        "top2 top2 top2"
        "descripcion descripcion descripcion"
    ;
}

.top {
    grid-area: topp;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.top h4 {
    margin-left: 50px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
}

.top2 {
    grid-area: top2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.top2 h4 {
    margin-left: 50px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
}

.productos {
    grid-area: productos;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion {
    grid-area: descripcion;
    display: flex;
}

.descripcion .descripcion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    background-color: #f2f2f2;
}

.descripcion .descripcion2 h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.descripcion .descripcion2 p {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

.contain {
    width: 100%;
    display: flex;
    max-width: 1500px;
    margin: auto;
    padding: 30px;
}

.tarjeta {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.tarjeta:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.tarjeta img {
    width: 100%;
    height: 300px;
}

.tarjeta .contenido {
    padding: 15px;
    text-align: center;
}

.tarjeta .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.tarjeta .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.tarjeta .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(87, 140, 88, 1);
    border-radius: 4px;
    color: rgba(87, 140, 88, 1);
    transition: all 400ms ease;
}

.tarjeta .contenido a:hover {
    background: rgba(87, 140, 88, 1);
    color: white;
}

/*!-------EQUIPO-----*/
.heroequipo {
    width: 100%;
    height: 222px;
    background-image: url(../img/head-flota.jpg);
    background-attachment: local;
}

.heroequipo h3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.fon {
    font-family: 'Asap', sans-serif;
}

.fon2 {
    font-family: 'Oswald', sans-serif;
}

.equipo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 100px 0.5fr 100px 1fr;
    background-color: #f2f2f2;
    grid-template-areas:
        "tractorr tractorr tractorr"
        "operarios operarios operarios"
        "fumigadora fumigadora fumigadora"
        "entre entre entre"
        "cosechadora cosechadora cosechadora"
    ;
}

.transit:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.transit {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.encabezado h2 {
    font-size: 25px;
}

.bi {
    font-size: 2em;
}

.operarios {
    grid-area: operarios;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/head-laempresa.jpg);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.entre {
    grid-area: entre;
    background-image: url(../img/head-laempresa.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.tractorr {
    grid-area: tractorr;
    padding: 50px;
}

.fumigadora {
    grid-area: fumigadora;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.targeta-cosechadora {
    grid-area: cosechadora;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.primera3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.segunda3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/*!-------TRAYECTORIA-----*/

.herotrayectoria {
    width: 100%;
    height: 222px;
    background-image: url(../img/head-laempresa.jpg);
    background-attachment: local;
}

.herotrayectoria h3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.herotraye {
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.herotraye h3 {
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}

.contein-trayectoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carro{
    width: 60%;
    height: 50%;
}

.contein_completo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contenedor_grip{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor_info{
    width: 50%;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    padding: 20px;
}

/*!-------CONTACTO-----*/

.herocontacto {
    width: 100%;
    height: 222px;
    background-image: url(../img/head-contacto.jpg);
    background-attachment: local;
}

.herocontacto h3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.contain-contactos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 900px;
    grid-template-areas: 
    "head-cont head-cont"
    "text-cont form-cont"
    ;
}

.head-cont {
    grid-area: head-cont;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f2f2;
}

.head-cont h4 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-cont{
    grid-area: text-cont;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-56{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; 
}

.text-56 h5{
    margin-left: 40px;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
}

.text-56 h6{
    margin-left: 40px;
    color: #6a6a6a;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
}

.form-cont{
    grid-area: form-cont;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form{
    background-color: white;
    width: 90%;
    height: 70%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_paragraph{
    font-weight: 300;
}

.form_link{
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    --color: #5757577e;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form_input:not(:placeholder-shown){
    color: #4d4646;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgba(87, 140, 88, 1);
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit{
    background: rgba(87, 140, 88, 1);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(87, 140, 88, 1);
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

@media (max-width:425px){
    .form_title{
        font-size: 1.8rem;
    }
}

/*!-------FOOTER------*/
footer {
    background-color: #363839;
}

footer .contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
}

footer .logopag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    color: #DDDDDD;
}

footer .logopag a {
    width: 350px;
    height: 123px;
}

footer .logopag h5 {
    margin-bottom: 0;
    font-family: 'Asap';
}

footer a img {
    width: 80%;
    height: 80%;
}

footer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #DDDDDD;
    font-family: 'Asap';
}

footer ul p {
    color: #DDDDDD;
    margin-bottom: 0;
    line-height: 20px;
    font-family: 'Asap';
}

footer .redes {
    width: 150px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px;
}

footer .redes a img {
    margin: 8px;
}

.COPYRIGHT {
    width: 100%;
    height: 50px;
    background-color: #282a2b;
    color: #DDDDDD;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.COPYRIGHT p {
    margin-bottom: 0;
}

/*!------------Medias Query------------*/

@media screen and (max-width:1155px) {
    .partedeabajo {
        display: none;
    }
}

@media screen and (max-width:1084px) {
    .fumigadora {
        flex-direction: column;
    }

}

@media screen and (max-width:957px) {
    .proveedores-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 0.8fr 1fr;
        grid-area:
            "hache"
            "imagenes"
            "parrafo"
        ;
    }

    .proveedores-contenedor {
        display: flex;
        flex-direction: column;
    }

    .textprove {
        display: flex;
        flex-direction: column;
    }

    .fontmass {
        width: 70%;
        height: 200px;
        text-align: center;
    }

    .primera3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .segunda3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paddi {
        margin-bottom: 20px;
    }

    .targeta-cosechadora {
        flex-direction: row;
    }

    .equipo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 100px 0.5fr 100px 1fr;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 45vh;
        background-color: #393e41fa;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 1s;
        padding: 0;
    }

    nav ul {
        margin: 0 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a:active {
        background: none;
        color: rgba(87, 140, 88, 1);
    }

    #check:checked~ul {
        left: 0;
    }
}

@media screen and (max-width:792px) {
    .enlacefoot {
        display: none;
    }

    footer .contenedor-footer {
        flex-direction: column;
        height: 100%;
    }

    footer .redes {
        height: 30px;
    }

    .logopag {
        text-align: center;
    }

    .logopag h5 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .logopag img {
        width: 80%;
        height: 100%;
    }

    .frasegiga h2 {
        font-size: 28px;
    }


}

@media screen and (max-width:769px) {
    .equipo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 100px 0.7fr 100px 0.5fr;
    }
}

@media screen and (max-width:668px) {
    .targeta-cosechadora {
        flex-direction: column;
    }
}

@media screen and (max-width:533px) {
    .equipo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 100px 0.4fr 100px 0.5fr;
    }
}

@media screen and (max-width:500px) {

    .fontmass {
        font-size: 17px;
    }

    footer .logopag h5 {
        font-size: 15px;
    }

    .textfrase {
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .tractorr {
        padding: 20px;
    }

    .enlacee {
        padding: 20px 20px;
    }
}

@media screen and (max-width:400px) {
    .imagen2 {
        width: 100%;
        height: 100%;
    }

    .imaggen2 {
        width: 100%;
        height: 80%;
    }

    footer .redes {
        height: 40px;
    }

    .logooo {
        height: 50px;
    }
}