@import "../base/variables" ;

footer{
    background-color: nth($colores-footer, 1);
    .contenedor-footer{
        @include flex (flex, space-around, center);
        width: 100%;
        height: 250px;
        .logopag{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-size: 15px;
            color: nth($colores-footer, 3);
            a{
                width: 350px;
                height: 123px;
                img{
                    width: 80%;
                    height: 80%;
                }
            }
            h5{
                margin-bottom: 0;
                font-family: nth($fuentes, 1);
            }
        }
        .enlacefoot{
            ul{
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                li{
                    a{
                        text-decoration: none;
                        font-size: 18px;
                        color: nth($colores-footer, 3);
                        font-family: nth($fuentes, 1);
                    }
                }
                p{
                    color: nth($colores-footer, 3);
                    margin-bottom: 0;
                    line-height: 20px;
                    font-family: nth($fuentes, 1);
                }
            }
        }
        .redes{
            width: 150px;
            height: 160px;
            @include flex (flex, center, flex-end);
            margin: 30px;
            a{
                img{
                    margin: 8px;
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
    .COPYRIGHT {
        width: 100%;
        height: 50px;
        background-color: nth($colores-footer, 2);
        color: nth($colores-footer, 3);
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }
}