@import "../base/variables";

section{
    .heroequipo{
        width: 100%;
        height: 322px;
        background-image: url(../img/head-flota2.jpg);
        background-attachment: local;
        h3{
            width: 100%;
            height: 70%;
            @include flex (flex, center, end);
            font-size: 30px;
            font-family: nth($fuentes, 2);
            font-weight: 100;
            color: white;
            text-transform: uppercase;
            text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
        }
    }
}
.equipo{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 100px 0.5fr 100px 1fr;
    background-color: $color-fondo;
    grid-template-areas:
        "tractorr tractorr tractorr"
        "operarios operarios operarios"
        "fumigadora fumigadora fumigadora"
        "entre entre entre"
        "cosechadora cosechadora cosechadora"
    ;
    .tractorr{
        grid-area: tractorr;
        padding: 50px;
        .transit{
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            transition: all 400ms ease;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-3%);
            }
            .fon{
                font-family: nth($fuentes, 1), sans-serif;
            }
        }
    }
    .operarios{
        grid-area: operarios;
        @include flex (flex, space-around, center);
        background-image: url(../img/head-laempresa.jpg);
        text-transform: uppercase;
        font-family: nth($fuentes, 2), sans-serif;
        .fas{
            font-size: 2em;
        }
        h2{
            color: white;
        }
    }
    .fumigadora{
        grid-area: fumigadora;
        @include flex (flex, space-around, center);
        .transit{
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            transition: all 400ms ease;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-3%);
            }
        }
        .card-body{
            .fon{
                font-family: nth($fuentes, 1), sans-serif;
            }
        }
    }
    .entre{
        grid-area: entre;
        background-image: url(../img/head-laempresa.jpg);
        @include flex (flex, space-around, center);
        font-family: nth($fuentes, 2), sans-serif;
        .fon2{
            font-family: nth($fuentes, 2), sans-serif;
        }
        .fas{
            font-size: 2em;
        }
        h2{
            color: white;
        }
    }
    .targeta-cosechadora{
        grid-area: cosechadora;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .primera3{
            @include flex (flex, space-around, center);
            .transit{
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                transition: all 400ms ease;
                &:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                    transform: translateY(-3%);
                }
            }
            .paddi{
                margin-bottom: 20px;
            }
            .fon{
                font-family: nth($fuentes, 1), sans-serif;
            }
        }
        .segunda3{
            @include flex (flex, space-around, center);
            margin-top: 20px;
            .transit{
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                transition: all 400ms ease;
                &:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                    transform: translateY(-3%);
                }
            }
            .paddi{
                margin-bottom: 20px;
            }
            .fon{
                font-family: nth($fuentes, 1), sans-serif;
            }
        }
    }
}